
/* variables for dark and light themes */
:root {
    --base: #cfcfcf;
    --text: #212121;
}

@media (prefers-color-scheme: dark) {
    :root {
      --base: #212121;
      --text: #cfcfcf;
    }
}

html {
    color-scheme: dark light;
}

body {
  color: var(--text);
  background-color: var(--base);
}






/* only demo stuff */
  .with-scrollbar {
    height: 300px;
    border: 5px solid hsl(0 0 50% / 0.5);
    overflow-y: scroll;
  }
/* only demo stuff */






/* Use the two selectors below if you want the JS version */
[data-theme="light"] {
  color-scheme: light;
  --base: #cfcfcf;
  --text: #212121;
}

[data-theme="dark"] {
  color-scheme: dark;
  --base: #212121;
  --text: #cfcfcf;
}






/* TOGGLE LAYOUT*/
.menu .color-toggle {
  display: inline-block;
  width: 2rem;
  height: 1rem;
  background: var(--base);
  border-radius: 1rem;
  position: relative;
  margin: 3rem;
}
.menu .color-toggle .knob {
  width: 0.6rem;
  height: 0.6rem;
  background: var(--text);
  border-radius: 100px;
  position: absolute;
  right: 0.2rem;
  top: 0.2rem
}
.menu .color-toggle.off .knob {
  right: calc(100% - 0.2rem);
  transform: translate(100%, 0)
}

.knob.active {
  background-color: aqua;
}

/* ovverrides */
/*
@media(max-width: 1024px) {
    .menu .color-toggle {
        display:none
    }
}
*/