/**
 * 
 * variables for dark and light themes
 *
 */
:root {
    --base: #cfcfcf;
    --text: #212121;

    --primary-color: #cccccc;
    --secondary-color: #cccccc;
    --accent-color: #f4d10b;

    --background-color: #cccccc;

    --ux-background: #212121;

}

@media (prefers-color-scheme: dark) {
    :root {
      --base: #212121;
      --text: #cfcfcf;

      --ux-background: #cfcfcf;
    }
}

html {
    color-scheme: dark light;
}

body {
  color: var(--text);
  background-color: var(--base);
}



[data-theme="light"] {
  color-scheme: light;
  --base: #cfcfcf;
  --text: #212121;

  --ux-background: #212121;
}

[data-theme="dark"] {
  color-scheme: dark;
  --base: #212121;
  --text: #cfcfcf;

  --ux-background: #212121;
}







.menu {
  width: 100%;
  display: flex;
  gap: 2rem;

  align-items: center;
  align-items: baseline;

  justify-content: center;
  justify-content: space-between;
}


.home {
  flex-grow: 1;
  color: black;
  background: none !important;
}


.menu a:not(.theme-toggle) {
  color: var(--text);
  background: var(--base);
  border-radius: 999rem;
  font-size: 0.75rem;
  padding: 0.3rem 2rem 0.3rem 2rem;
}

/**
 * 
 * toggle button
 *
 */
.theme-toggle {
  display: inline-block;
  width: 2rem;
  height: 1rem;
  background: var(--base);
  border-radius: 1rem;
  position: relative;
  margin: 3rem;
}

.theme-toggle .knob {
  width: 0.6rem;
  height: 0.6rem;
  background: var(--text);
  border-radius: 100px;
  position: absolute;
  right: 0.2rem;
  top: 0.2rem
}

/* animate if knob gets clicked */
.theme-toggle.active .knob {
  right: calc(100% - 0.2rem);
  transform: translate(100%, 0);
}

.theme-toggle:hover {
  filter: invert(1);
}

.theme-toggle.active {}

/* ovverrides */
/*
@media(max-width: 1024px) {
    .menu .color-toggle {
        display:none
    }
}
*/